<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Models</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="{{ url_for('static', filename='img/Hero_Background.png') }}" rel="icon">
    <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">
  
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: Append
    * Updated: Jun 07 2023 with Bootstrap v5.3.0
    * Template URL: https://bootstrapmade.com/append-bootstrap-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
  </head>
  
<body class="blog-details-page">

  <!-- ======= Header ======= -->
<header id="header" class="header sticky-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">
      <a href="{{ url_for('views.home') }}" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{{ url_for('static', filename='img/logo.png') }}" alt=""> -->
        <h2>Intelligent Systems</h2>
        
      </a>
  
      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{{ url_for('views.about') }}" class="zoom-effects">Home</a></li>
          <li><a href="#linear-regression" class="zoom-effects">Linear Regression</a></li>
          <li><a href="#logistic-regression" class="zoom-effects">Logistic Regression</a></li>
          <li><a href="#neural-network" class="zoom-effects">Neural Network</a></li>
          <li><a href="#deep-learning" class="zoom-effects">Deep Learning</a></li>
          <li><a href="#reinforcement-learning" class="zoom-effects">Reinforcement Learning</a></li>
          
          <li class="dropdown has-dropdown"><a href="#"><span>Dataset</span> <i class="bi bi-chevron-down"></i></a>
            <ul class="dd-box-shadow">
              <li><a href="#linear-regression">Linear Regression</a></li>
              <li><a href="#logistic-regression">Logistic Regression</a></li>
              <li><a href="#neural-network">Neural Network</a></li>
              <li><a href="#deep-learning">Deep Learning</a></li>
              <li><a href="#reinforcement-learning">Reinforcement Learning</a></li>
            </ul>
          </li>
        </ul>
  
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->
  
      <a class="btn-getstarted" href="{{ url_for('views.home') }}#about" >Back to home page</a>
  
    </div>
  </header><!-- End Header -->
  

  <main id="main">


    <section id="call-to-action" class="call-to-action" style="background-image: url({{ url_for('static', filename='img/backgroud.jpg') }});">
      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>Click the picture</h3>
              <p>sghslifhsdlkjfbdskljjfvhsjbfhdjfs</p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Call-to-action Section -->    

<!-- Clients Section - Home Page -->
<section id="clients" class="clients">

  <div class="container-fluid" data-aos="fade-up">

    <div class="row justify-content-center gy-4">

      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <a class="zoom-effect" href="#linear-learning">
          <img src="{{ url_for('static', filename='img/image_model/linear.png') }}" class="img-fluid" alt="">
        </a>
        </div><!-- End Client Item -->

      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <a class="zoom-effect" href="#logistic-learning">
            <img src="{{ url_for('static', filename='img/image_model/logical.png') }}" class="img-fluid" alt="">
          </a>
          </div><!-- End Client Item -->

        <div class="col-xl-2 col-md-3 col-6 client-logo">
        <a class="zoom-effect" href="#neural-learning">
          <img src="{{ url_for('static', filename='img/image_model/neural.png') }}" class="img-fluid" alt="">
        </a>
        </div><!-- End Client Item -->

      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <a class="zoom-effect" href="#deepl-learning">
          <img src="{{ url_for('static', filename='img/image_model/deep.png') }}" class="img-fluid" alt="">
        </a>
        </div><!-- End Client Item -->

      <div class="col-xl-2 col-md-3 col-6 client-logo">
          <a class="zoom-effect" href="#rein-learning">
          <img src="{{ url_for('static', filename='img/image_model/reinforcement.png') }}" class="img-fluid" alt="">
        </a>
      </div><!-- End Client Item -->

    </div>

  </div>

</section><!-- End Clients Section -->








<!-- Linear Regression Page Title & Breadcrumbs -->
<div id="linear-regression" class="model-section">
<div data-aos="fade" class="page-title">
    <div class="heading">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-8">
            <h1>Linear Regression</h1>
            <p class="mb-0">Linear regression is a supervised learning algorithm used to predict continuous output variables.</p>
          </div>
        </div>
      </div>
    </div>
    <nav class="breadcrumbs">
      <div class="container">
      </div>
    </nav>
  </div>
  </div><!-- End Page Title -->
  

    <!--Linear Regression Section - Blog Details Page -->
<!-- Linear Regression - Blog Details Page -->

<section id="blog-details" class="blog-details">

    <div class="container " data-aos="fade-up" data-aos-delay="100">
  
      <div class="row g-5 justify-content-center text-center">
  
        <div class="col-lg-8">
  
          <article class="article">
  
            <div class="post-img">
              <img src="{{ url_for('static', filename='img/image_model/BG-LR2.png') }}" alt="" class="img-fluid">
            </div>
  
            <h2 class="title">Linear Regression Code Documentation </h2>
  
            <div class="meta-top">

            </div><!-- End meta top -->
  
            <div class="content">
              <p>
                Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta.
                Et eveniet enim. Qui velit est ea dolorem doloremque deleniti aperiam unde soluta. Est cum et quod quos aut ut et sit sunt. Voluptate porro consequatur assumenda perferendis dolore.
              </p>
  
              <p>
                Sit repellat hic cupiditate hic ut nemo. Quis nihil sunt non reiciendis. Sequi in accusamus harum vel aspernatur. Excepturi numquam nihil cumque odio. Et voluptate cupiditate.
              </p>

              <div id="linear-learning">\
                <hr></hr>
              </div>

              <blockquote>
                <p>
                  UI
                </p>
              </blockquote>
              <h3>About Dataset</h3>
              <p>
                House Price and Mortgage Interest Rate Dataset
		Our comprehensive dataset provides valuable information on house prices and their corresponding mortgage interest rates. With 16 carefully selected data points, this collection offers a snapshot of the relationship between housing market dynamics and lending rates. Dive deeper into the dataset to gain insights into the fluctuating real estate market, evaluate mortgage affordability, or conduct research on housing trends. Uncover key correlations and make informed decisions using this invaluable resource.
              </p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Logistic Regression Page Title & Breadcrumbs -->
<div id="logistic-regression" class="model-section">
<div data-aos="fade" class="page-title">
  <div class="heading">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-lg-8">
          <h1>Logistic Regression</h1>
          <p class="mb-0">Logistic regression is a supervised learning algorithm used to predict binary or categorical output variables based on input variables.</p>
        </div>
      </div>
    </div>
  </div>
  <nav class="breadcrumbs">
    <div class="container">
    </div>
  </nav>
</div>
</div><!-- End Page Title -->

<section id="blog-details" class="blog-details">

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row g-5 justify-content-center text-center">

      <div class="col-lg-8">

        <article class="article">

          <div class="post-img">
            <img src="{{ url_for('static', filename='img/image_model/BG-LLR2.png') }}" alt="" class="img-fluid">
          </div>

          <h2 class="title">Logistic Regression Code Documentation</h2>

          <div class="meta-top">

          </div><!-- End meta top -->

          <div class="content">
            <p>
              Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta.
              Et eveniet enim. Qui velit est ea dolorem doloremque deleniti aperiam unde soluta. Est cum et quod quos aut ut et sit sunt. Voluptate porro consequatur assumenda perferendis dolore.
            </p>

            <p>
              Sit repellat hic cupiditate hic ut nemo. Quis nihil sunt non reiciendis. Sequi in accusamus harum vel aspernatur. Excepturi numquam nihil cumque odio. Et voluptate cupiditate.
            </p>

            <div id="logistic-learning">\
              <hr></hr>
            </div>
            <blockquote>
              
              <p>
                UI.
              </p>
            
            </blockquote>
            <h3>About Dataset</h3>
            <p>
              Personal Loan Dataset: Customer Profiles and Financial Indicators
		Our extensive dataset offers a comprehensive view of customer profiles and financial indicators related to personal loans. With 5000 rows and 14 columns, this dataset provides a wealth of information for analysis and research purposes. Dive deeper into customer attributes such as age, professional experience, income, family size, credit card usage, education level, mortgage details, and banking preferences. Gain valuable insights into factors influencing personal loan acceptance, identify patterns in customer behavior, and explore the relationships between various features. This dataset is a valuable resource for financial institutions, researchers, and analysts looking to understand customer preferences and make data-driven decisions.
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

  <!-- Neural network Page Title & Breadcrumbs -->
  <div id="neural-network" class="model-section">
  <div data-aos="fade" class="page-title">
    <div class="heading">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-8">
            <h1>Neural Network</h1>
            <p class="mb-0">Neural networks are a class of algorithms inspired by the structure and function of the human brain, used for a wide range of tasks such as image recognition, natural language processing, and more.</p>
          </div>
        </div>
      </div>
    </div>
    <nav class="breadcrumbs">
      <div class="container">
      </div>
    </nav>
  </div>
  </div><!-- End Page Title -->

  <section id="blog-details" class="blog-details">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
  
      <div class="row g-5 justify-content-center text-center">
  
        <div class="col-lg-8">
  
          <article class="article">
  
            <div class="post-img">
              <img src="{{ url_for('static', filename='img/image_model/BG-NN2.png') }}" alt="" class="img-fluid">
            </div>
  
            <h2 class="title">Neural Network Code Documentation</h2>
  
            <div class="meta-top">
  
            </div><!-- End meta top -->
  
            <div class="content">
              <p>
                Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta.
                Et eveniet enim. Qui velit est ea dolorem doloremque deleniti aperiam unde soluta. Est cum et quod quos aut ut et sit sunt. Voluptate porro consequatur assumenda perferendis dolore.
              </p>
  
              <p>
                Sit repellat hic cupiditate hic ut nemo. Quis nihil sunt non reiciendis. Sequi in accusamus harum vel aspernatur. Excepturi numquam nihil cumque odio. Et voluptate cupiditate.
              </p>
              
              <div id="neural-learning">
                <hr></hr>
              </div>

              <blockquote>
                <p>
                  UI
                </p>
              </blockquote>
 
              <h3>About Dataset</h3>
              <p>
                Heart Disease Diagnosis Datasets: Detailed Information
		This collection includes four datasets related to heart disease diagnosis, sourced from esteemed medical institutions: Cleveland Clinic Foundation, Hungarian Institute of Cardiology, V.A. Medical Center in Long Beach, CA, and University Hospital in Zurich, Switzerland. Each database shares a common instance format, with 76 raw attributes, although only a subset of 14 attributes has been extensively used in past experiments.
		
		The "goal" field within these databases indicates the presence of heart disease in patients, with integer values ranging from 0 (no presence) to 4. Notably, the Cleveland database has been widely utilized by machine learning researchers in heart disease studies.
		
		To respect privacy, the names and social security numbers of patients have been replaced with dummy values. In addition to the processed Cleveland database, the directory also contains the four unprocessed files.
		
		Number of instances:
		- Cleveland: 303
		- Hungarian: 294
		- Switzerland: 123
		- Long Beach VA: 200
		
		Attribute Information:
		The dataset comprises 76 attributes, with published experiments typically focusing on a subset of 14 attributes. These attributes include patient demographics, medical measurements, and history. Complete attribute documentation is available for in-depth analysis. The datasets provide valuable insights into factors contributing to heart disease presence, allowing researchers and healthcare professionals to explore patterns, conduct experiments, and develop accurate diagnostic models.
		
		Class Distribution:
		The class distribution varies across the databases, with different frequencies for each category of heart disease diagnosis. Please refer to the specific dataset for detailed class distribution information.
		
		Please note that the dataset may contain missing attribute values, which are denoted with the value -9.0.
              </p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>


    <!-- Deep Learning Page Title & Breadcrumbs -->
    <div id="deep-learning" class="model-section">
    <div data-aos="fade" class="page-title">
      <div class="heading">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Deep Learning</h1>
              <p class="mb-0">Deep learning is a subset of neural networks that involves training multi-layered models to perform complex tasks, often with large amounts of data.</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
        </div>
      </nav>
    </div>
    </div><!-- End Page Title -->

    <section id="blog-details" class="blog-details">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
    
        <div class="row g-5 justify-content-center text-center">
    
          <div class="col-lg-8">
    
            <article class="article">
    
              <div class="post-img">
                <img src="{{ url_for('static', filename='img/image_model/BG-DL2.png') }}" alt="" class="img-fluid">
              </div>
    
              <h2 class="title">Deep Learning Code Documentation</h2>
    
              <div class="meta-top">
    
              </div><!-- End meta top -->
    
              <div class="content">
                <p>
                  Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta.
                  Et eveniet enim. Qui velit est ea dolorem doloremque deleniti aperiam unde soluta. Est cum et quod quos aut ut et sit sunt. Voluptate porro consequatur assumenda perferendis dolore.
                </p>
    
                <p>
                  Sit repellat hic cupiditate hic ut nemo. Quis nihil sunt non reiciendis. Sequi in accusamus harum vel aspernatur. Excepturi numquam nihil cumque odio. Et voluptate cupiditate.
                </p>
    
                <div id="deepl-learning">
                  <hr></hr>
                </div>

                <blockquote>
                  <p>
                    UI
                  </p>
                </blockquote>
    
                <h3>About Dataset</h3>
                <p>
                  Officiis animi maxime nulla quo et harum eum quis a. Sit hic in qui quos fugit ut rerum atque. Optio provident dolores atque voluptatem rem excepturi molestiae qui. Voluptatem laborum omnis ullam quibusdam perspiciatis nulla nostrum. Voluptatum est libero eum nesciunt aliquid qui.
                  Quia et suscipit non sequi. Maxime sed odit. Beatae nesciunt nesciunt accusamus quia aut ratione aspernatur dolor. Sint harum eveniet dicta exercitationem minima. Exercitationem omnis asperiores natus aperiam dolor consequatur id ex sed. Quibusdam rerum dolores sint consequatur quidem ea.
                  Beatae minima sunt libero soluta sapiente in rem assumenda. Et qui odit voluptatem. Cum quibusdam voluptatem voluptatem accusamus mollitia aut atque aut.
                </p>
            
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>

        <!-- Deep Learning Page Title & Breadcrumbs -->
        <div id="reinforcement-learning" class="model-section">
        <div data-aos="fade" class="page-title">
          <div class="heading">
            <div class="container" data-aos="fade-up" data-aos-delay="100">
              <div class="row d-flex justify-content-center text-center">
                <div class="col-lg-8">
                  <h1>Reinforcement Learning</h1>
                  <p class="mb-0">Reinforcement learning is a type of machine learning where an agent learns to make decisions in an environment, based on trial-and-error learning and feedback in the form of rewards or penalties.</p>
                </div>
              </div>
            </div>
          </div>
          <nav class="breadcrumbs">
            <div class="container">
            </div>
          </nav>
        </div>
        </div><!-- End Page Title -->

        <section id="blog-details" class="blog-details">

          <div class="container" data-aos="fade-up" data-aos-delay="100">
        
            <div class="row g-5 justify-content-center text-center">
        
              <div class="col-lg-8">
        
                <article class="article">
        
                  <div class="post-img">
                    <img src="{{ url_for('static', filename='img/image_model/BG-RL2.png') }}" alt="" class="img-fluid">
                  </div>
        
                  <h2 class="title">Reinforcement Learning Code Documentation</h2>
        
                  <div class="meta-top">
        
                  </div><!-- End meta top -->
        
                  <div class="content">
                    <p>
                      Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta.
                      Et eveniet enim. Qui velit est ea dolorem doloremque deleniti aperiam unde soluta. Est cum et quod quos aut ut et sit sunt. Voluptate porro consequatur assumenda perferendis dolore.
                    </p>
        
                    <p>
                      Sit repellat hic cupiditate hic ut nemo. Quis nihil sunt non reiciendis. Sequi in accusamus harum vel aspernatur. Excepturi numquam nihil cumque odio. Et voluptate cupiditate.
                    </p>
        
                    <div id="rein-learning">
                      <hr></hr>
                    </div>

                    <blockquote>
                      <p>
                       UI
                      </p>
                    </blockquote>

                    <h3>About Dataset</h3>
                    <p>
                      Officiis animi maxime nulla quo et harum eum quis a. Sit hic in qui quos fugit ut rerum atque. Optio provident dolores atque voluptatem rem excepturi molestiae qui. Voluptatem laborum omnis ullam quibusdam perspiciatis nulla nostrum. Voluptatum est libero eum nesciunt aliquid qui.
                      Quia et suscipit non sequi. Maxime sed odit. Beatae nesciunt nesciunt accusamus quia aut ratione aspernatur dolor. Sint harum eveniet dicta exercitationem minima. Exercitationem omnis asperiores natus aperiam dolor consequatur id ex sed. Quibusdam rerum dolores sint consequatur quidem ea.
                      Beatae minima sunt libero soluta sapiente in rem assumenda. Et qui odit voluptatem. Cum quibusdam voluptatem voluptatem accusamus mollitia aut atque aut.
                    </p>
                  
                  </div>
                </article>
              </div>
            </div>
          </div>
        </section>
    


  </main>

<!-- Footer -->
<footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="{{ url_for('views.home') }}" class="logo d-flex align-items-center">
            <span>Append</span>
          </a>
          <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
  
        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="{{ url_for('views.home') }}">Home</a></li>
            <li><a href="{{ url_for('views.home') }}">About us</a></li>
            <li><a href="{{ url_for('views.home') }}">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>
  
        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>
  
        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>A108 Adam Street</p>
          <p>New York, NY 535022</p>
          <p>United States</p>
          <p class="mt-4"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
          <p><strong>Email:</strong> <span>info@example.com</span></p>
        </div>
      </div>
    </div>
  
    <div class="container copyright text-center mt-4">
      <p>&copy; <span>{{ current_year }}</span> <strong class="px-1">Append</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  
  </footer>
  <!-- End Footer -->
  

  <!-- Scroll Top Button -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

<!-- Vendor JS Files -->
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

<!-- Template Main JS File -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>


</body>

</html>